@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@layer utilities {
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vw;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    cursor: pointer;
  }

  .scrollbar.light::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar.light::-webkit-scrollbar-track {
    background: rgb(200 200 225);
  }

  .scrollbar.light::-webkit-scrollbar-thumb {
    background: rgb(30 58 138);
  }

  .scrollbar.dark::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar.dark::-webkit-scrollbar-track {
    background: rgb(180 180 180);
  }

  .scrollbar.dark::-webkit-scrollbar-thumb {
    background: rgb(125, 132, 140);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
